<div class="header">
    <div class="container">
        <div class="header_title_container">
            <div class="header_title">
                <h4>Lista de contactos</h4>
            </div>

        </div>
        <div>
            <a href="">Salir</a>
        </div>
    </div>

</div>