<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    

    <title>Login Contacs</title>
</head>
<body>
    <div class="container">
        {{{body}}}
    </div>
    
    <script src="../js/createContact.js"></script>
    <script>
        let btnCreate = document.getElementById("create_btn")

        btnCreate.addEventListener('click',(e) => {
            e.preventDefault()
            createContact()
        })
    </script>
</body>
</html>