<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>My Awesome App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="../css/header.css" />
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="../css/bodyContactos.css">
    <link rel="stylesheet" type="text/css" href="../css/textColors.css">

    <style>
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

    </style>
  </head>
  <body>
          
          {{{body}}}    
  
  <script src="../js/loadContacts.js"></script>
  </body>
</html>