<div class="create_box">
    <form action="">
        <div class="column">
            <div class="row">
                <label for="">Nombre</label>
                <input type="text" name="Nombre" id="Nombre">
            </div>
            <div class="row">
                <label for="">Email</label>
                <input type="text" name="Email" id="Email">
            </div>
            <div class="row">
                <label for="">PhoneNumber</label>
                <input type="text" name="PhoneNumber" id="PhoneNumber">
            </div>
            <div class="row">
                <input type="submit" class="submit input" id="create_btn" style="color: white;" value="Crear">
            </div>
        </div>
    </form>
</div>