<div class="login_box">
    <div class="login_body">
        <form action="" class="form_login">
            <div class="column">
                <div class="row">
                    <label for="UserName">Nombre de usuario</label>
                    <input type="text" name="UserName" class="input_login" id="">

                </div>
                <div class="row">
                    <label for="Password">Contraseña</label>
                    <input type="password" name="Password" class="input_login" id="">
                </div>
                <div class="form_button_login">
                    <input type="submit" class="submit input loginSubmit" value="Login">
                </div>
            </div>

            
        </form>
        
    </div>
</div>