<div class="login_box">
    <div class="login_body">
        <form action="/api/User/login" class="form_login" method="POST">
            <div class="column">
                <div class="row" style="color: white;">
                    <h5>Iniciar sesión</h5>
                    {{#if error}}
                        <h5>{{error}}</h5>
                    {{/if}}
                    {{#if error_msg}}
                        <h5>{{error_msg}}</h5>
                    {{/if}}
                    {{#if success_msg}}
                        <h5>{{success_msg}}</h5>
                    {{/if}}
                </div>
                <div class="row">
                    <label for="UserName">Nombre de usuario</label>
                    <input type="text" name="username" class="input_login" id="">

                </div>
                <div class="row">
                    <label for="Password">Contraseña</label>
                    <input type="password" name="password" class="input_login" id="">
                </div>
                <div class="row">
                     <div class="form_button_login">
                        <input type="submit" class="submit input loginSubmit" value="Login">
                    </div>
                    <div>
                        <a href="/register">Register</a>
                    </div>
                </div>
            </div>

            
        </form>
        
    </div>
</div>