<div class="register_box">
    <div class="register_body">
        <form action="" class="form_register">
            <div class="column">
                <div class="row" style="color: white;">
                    <h5>Registrarse</h5>
                </div>
                <div class="row">
                    <label for="UserName">Nombre de usuario</label>
                    <input type="text" name="UserName" class="input_register" id="">

                </div>
                <div class="row">
                    <label for="Password">Contraseña</label>
                    <input type="password" name="Password" class="input_register" id="">
                </div>

                
                <div class="form_button_register">
                    <input type="submit" class="submit input registerSubmit" value="Registrarse">
                </div>
            </div>

            
        </form>
        
    </div>
</div>