<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/register.css">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/skeleton.css">
    <title>Register</title>
</head>
<body>
    <div class="container">

    
    <div class="register_box">
    <div class="register_body">
        <form action="" class="form_register">
            <div class="column">
                <div class="row" style="color: white;">
                    <h5>Registrarse</h5>
                    {{#if success_msg}}
                        <h5>{{success_msg}}</h5>
                    {{/if}}
                </div>
                <div class="row">
                    <label for="UserName">Nombre de usuario</label>
                    <input type="text" name="UserName" class="input_register" id="UserName">

                </div>
                <div class="row">
                    <label for="Password">Contraseña</label>
                    <input type="password" name="Password" class="input_register" id="Password">
                </div>

                
                <div class="form_button_register">
                    <input type="submit" class="submit input registerSubmit" value="Registrarse" id="btnRegister">
                </div>
                <a href="/login">
                    Iniciar sesión
                </a>
            </div>

            
        </form>
        
        </div>
    </div>

    </div>

    <script src="../js/register.js"></script>
</body>
</html>

